html,
body {
  height: 100%;
}

body {
  background-color: #222;
  color: #EEE;
  background-image: url('~/background.jpg');
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('~/background.jpg');
  background-position: center;
  background-size: cover;
}

a {
  color: #EEE;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather, 'Times New Roman';
}

.brand {
  margin: 0.25em;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  justify-content: space-between;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 1em;

    a {
      display: block;
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

label {
  display: block;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  padding: 1em;
  overflow-y: auto;
}

label {
  font-weight: bold;
}

input,
button {
  border-radius: 5px;
  border-style: solid;
  padding: 0.5em;
  font-size: inherit;
  margin: 1px;
}

#search-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.card {
  background-color: #FDFEF9;
  color: #222;
  padding: 1em;
  border-bottom: 5px solid #D7A554;
  margin: 0.25em;
  position: relative;
  animation-name: fadeInFromTop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;

  header {
    background: transparent;
  }

  a {
    color: #222;
    font-weight: bold;
  }
}

.recipe-card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #533828;
  }

  .details {
    color: #A95834;
    font-style: italic;

    a {
      color: inherit;
    }
  }

  .recipe-image {
    background-position: center;
    background-size: cover;
    height: 20vh;
    min-height: 200px;
    margin: -1em;
    margin-bottom: 1em;
  }
}

@keyframes fadeInFromTop {
  from {
    top: -5px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}
